.about {
  @include flexSettings(column, space-around, center);
  @include sectionLayout(80px 25px, var(--background-two));
  height: 100%;

  &_left {
    // flex: 0 0 50%;
    text-align: center;
    justify-content: center;
    &_head {
      letter-spacing: 1px;
      font-size: 42px;
      margin-bottom: 40px;
      color: var(--text-color-one);
      overflow: hidden;
      border-right: .15em solid var(--text-color-one); /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      max-width: 9em;
      animation: typing 4.5s steps(40, end), blink-caret .75s step-end infinite;
    }


    &_text {
      font-size: 22px;
      color: var(--text-color-two);
      // font-style: italic;
      margin-top: 10px;
      span {
        color: var(--text-color-three);
      }
    }

    &_socialMedia {
      margin-top: 40px;

      img {
        @include imageSize(40px, 40px, contain);
        margin-right: 15px;
        cursor: pointer;
        transition: all 0.2s ease;
      }

      img:hover{
        @include colorWithBackground(#ffffff, #002a5b00);
        border-radius: 50px;
        box-shadow: 0 2px 10px #2B4865;
        margin-bottom: 10px;
      }
    }

    &_starme {
      @include sectionLayout(10px 6px, #001c55);
      @include borderWithRadius(1px solid #001c55, 6px);
      margin-top: 30px;
      color: #ffffff;
      text-align: center;
      width: 200px;
      cursor: pointer;
    }
  }

  &_right {
    flex: 0 0;

    &_profilePic {
      @include borderWithRadius(1px solid transparent, 50% 50%);
      margin: 20px;
      height: 320px;
      width: 320px;
      background-clip: content-box, border-box;
      background-size: cover;
      background-image: url("../assets/Profile.png"),
        linear-gradient(to bottom left, var(--about-profilepic-one), var(--about-profilepic-two));
      background-repeat: no-repeat;
      padding: 12px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    height: 100%;

    &_left {
      &_head {
        font-size: 28px;
      }

      &_text {
        font-size: 18px;
      }
    }

    &_right {
      &_profilePic {
        height: 250px;
        width: 250px;
      }
    }
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--text-color-one); }
}

@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    padding: 50px 25px;
    justify-content: center;
    &_left {
      text-align: center;

      &_head {
        font-size: 24px;
      }

      &_text {
        font-size: 16px;
      }

      &_starme {
        max-width: 200px;
        margin: 30px auto;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .about {
    &_right {
      &_profilePic {
        height: 200px;
        width: 200px;
      }
    }
  }
}
