
.certificates{
  @include sectionLayout(40px 25px, #E8F9FD);
  @include flexSettings(column, space-between, center);
  &_heading {
    @include headingLayout(42px, center, 50px, #002B5B);
  }

  .container {
      padding: 20px 10px;
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      width: 100%;
      .certificate{
        overflow: hidden;
        margin: 2%;
        padding: 20px;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        h1{
          font-size: 16px;
          text-align: center;
          color: #002B5B
        }
      }
      img {
        @include imageSize(100%, auto, contain);
        margin: 2%;
      }
      .certificate:hover{
        transform: scale(1.1);
      }
  } 
}

@media (max-width: 768px) {
  .certificates{
    .container {
      grid-template-columns: auto;
      img{
        @include imageSize(300px, auto, contain);
      }
    }
  }
}
@media (max-width: 400px) {
  .certificates{
    .container {
      .certificate{
        h1{
          font-size: 15px;
        }
      }
      img{
        @include imageSize(100%, auto, contain);
      }
    }
  }
}